$node-width:240px;
$header-padding:8px;
$header-height:80px;
$header-bg:#404040;

$title-color:#8E8E8E;
$title-font-size:14px;
$icon-font-size:32px;
$icon-font-color:#fff;
$icon-error-font-color:#f00;
$icon-width:50px;
$icon-width:50px;

$body-bg:#4d4d4d;
$body-color:#777;

//reset style
.react-js-diagrams-canvas .port.selected,.react-js-diagrams-canvas .port:hover{
  background: transparent !important;
}

.rule-node{
  width: $node-width;
  box-shadow: 1px 2px 6px -1px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  overflow: hidden;

  .header{
    height:auto;
    background: $header-bg;
    padding:$header-padding;
    box-shadow: none;
    .title{
      width:($node-width - ($header-padding*2) - $icon-width - 5);
      display: inline-block;
      a{
        font-size: $title-font-size;
        color:$title-color;
        text-decoration: none;
        &:hover{
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
    .icon{
      width:50px;
      height:50px;
      display: inline-block;
      font-size: $icon-font-size;
      padding:3px 0px;
      text-align: center;
      border-radius:3px;
      color:$icon-font-color;
      .icon-default{
        content: "\f0e5"
      }
    }
  }

  .fa-arrow-right{
    color: #353535;
  }
  .body{
    background: $body-bg;
    color:$body-color;

    .ports{
      // padding: 8px 0;
      height: auto;
      overflow-y: auto;
      overflow-x: hidden;
      .port{
        position: relative;
        width:auto;
        padding:5px 8px;
        height: auto;
        overflow-x: hidden;
        background: #494949;

        .ic-error{
          color: $icon-error-font-color;
        }

        .port{
          position: absolute;
          top:10px;
          width:20px;
          background: transparent !important;
          overflow-y: auto;
        }
        .label{
          margin:0 5px;
        }
        &.in-port{
          background: #4e4e4e;
          .port{
            left:-11px;
          }
          &:first-child{
            border-bottom:1px solid #828282;
          }
        }
        &.out-port{
          right: 0;
          border-bottom: 1px solid #828282;
          background: #525252;
          .label, .icon-container{
            float:right;
          }
          .port{
            right:-11px;
          }
          &:first-child{
            border-bottom:none;
            border-top:1px solid #828282;
          }
          &:last-child{
            border-bottom:none;
          }
        }
      }


    }

  }
}
