.app-content-container > .ui.container.diagram {
  display: flex;
  flex: 1;
  margin: 0 !important;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P89OnTfwY0wAgS5OPjY0QWp1AQAKflE9uUxvPHAAAAAElFTkSuQmCC") repeat !important; }
  .app-content-container > .ui.container.diagram .diagram-container {
    display: flex;
    flex: 1;
    flex-grow: 1;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab; }
    .app-content-container > .ui.container.diagram .diagram-container:active, .app-content-container > .ui.container.diagram .diagram-container:focus {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing; }
    .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas {
      position: relative;
      flex: 1; }
      .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas .point {
        fill: rgba(255, 255, 255, 0.5); }
        .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas .point.selected {
          fill: #00c0ff; }
      .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas .selector {
        position: absolute;
        background-color: rgba(0, 192, 255, 0.2);
        border: solid 2px #00c0ff; }
      .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas svg {
        position: absolute;
        height: 100%;
        width: 100%;
        transform-origin: 0 0;
        overflow: visible !important; }
      .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas .node-view {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        pointer-events: none;
        transform-origin: 0 0;
        z-index: 1; }
      .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas .node {
        position: absolute;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        user-select: none;
        cursor: move;
        pointer-events: all; }
        .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas .node.selected > * {
          border-color: #00c0ff !important;
          -webkit-filter: drop-shadow(0 0 20px rgba(0, 192, 255, 0.5)); }

@keyframes dash {
  from {
    stroke-dashoffset: 24; }
  to {
    stroke-dashoffset: 0; } }

@keyframes dash2 {
  from {
    stroke-dashoffset: 50; }
  to {
    stroke-dashoffset: 0; } }
      .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas path {
        fill: none;
        pointer-events: all;
        stroke-width: 5; }
        .app-content-container > .ui.container.diagram .diagram-container .storm-diagrams-canvas path.selected {
          stroke-dasharray: 25;
          stroke-dashoffset: 0;
          animation: dash2 1s linear infinite; }
  .app-content-container > .ui.container.diagram .float-actions {
    position: absolute;
    bottom: 20px;
    right: 20px; }
    .app-content-container > .ui.container.diagram .float-actions .button {
      display: block;
      width: 50px;
      height: 50px;
      padding: 0;
      margin: 4px 0;
      box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.48) !important; }
      .app-content-container > .ui.container.diagram .float-actions .button .save {
        padding: 3px;
        font-size: 18px; }
