.App > .ui.segment.pushable {
  margin-top: 0;
  padding-top: 49px !important;
  border: 0;
  border-radius: 0;
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh; }
  .App > .ui.segment.pushable .ui.sidebar {
    padding-top: 49px; }
  .App > .ui.segment.pushable > .pusher {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1; }

.App .app-content-container {
  display: flex;
  flex: 1; }
