.bot-list .card.bot-card * {
  transition: all .4s linear; }

.bot-list .card.bot-card > .content:hover {
  cursor: pointer; }
  .bot-list .card.bot-card > .content:hover > .header {
    color: #78E4BE; }

.bot-list .card.bot-card.new-bot {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #FEFEFE;
  opacity: 0.8; }
  .bot-list .card.bot-card.new-bot > .content img {
    filter: blur(8px); }
  .bot-list .card.bot-card.new-bot > .content:hover {
    opacity: 1;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }
    .bot-list .card.bot-card.new-bot > .content:hover img {
      filter: blur(0); }
