.storm-diagrams-canvas .port.selected, .storm-diagrams-canvas .port:hover {
  background: transparent !important; }

.dialog-node {
  width: 240px;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.55);
  border-radius: 8px;
  overflow: hidden; }
  .dialog-node .header {
    height: auto;
    background: #fff;
    padding: 8px;
    box-shadow: none; }
    .dialog-node .header .title {
      width: 169px;
      display: inline-block; }
      .dialog-node .header .title a {
        font-size: 14px;
        color: #C95735;
        text-decoration: none; }
        .dialog-node .header .title a:hover {
          cursor: pointer;
          font-weight: bold; }
    .dialog-node .header .icon {
      width: 50px;
      height: 50px;
      display: inline-block;
      font-size: 32px;
      padding: 3px 0px;
      text-align: center;
      border-radius: 3px;
      color: #fff; }
      .dialog-node .header .icon .icon-default {
        content: "\f0e5"; }
  .dialog-node .body {
    background: rgba(242, 242, 242, 0.9);
    color: #777; }
    .dialog-node .body .ports {
      padding: 8px 0;
      height: auto;
      overflow-y: auto;
      overflow-x: hidden; }
      .dialog-node .body .ports .port {
        position: relative;
        width: auto;
        height: auto;
        padding: 0 8px; }
        .dialog-node .body .ports .port .port {
          position: absolute;
          top: 0;
          width: 20px;
          height: 20px;
          background: transparent !important; }
        .dialog-node .body .ports .port .label {
          margin: 0 5px; }
        .dialog-node .body .ports .port.in-port {
          float: left; }
          .dialog-node .body .ports .port.in-port .port {
            left: -10px; }
        .dialog-node .body .ports .port.out-port {
          float: right; }
          .dialog-node .body .ports .port.out-port .port {
            right: -10px; }
