$node-width:240px;
$header-padding:8px;
$header-height:80px;
$header-bg:#fff;

$title-color:#C95735;
$title-font-size:14px;
$icon-font-size:32px;
$icon-font-color:#fff;
$icon-width:50px;
$icon-width:50px;

$body-bg:rgba(242, 242, 242,0.9);
$body-color:#777;

//reset style
.react-js-diagrams-canvas .port.selected,.react-js-diagrams-canvas .port:hover{
  background: transparent !important;
}

.dialog-node{
  width: $node-width;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.55);
  border-radius: 8px;
  overflow: hidden;

  .header{
    height:auto;
    background: $header-bg;
    padding:$header-padding;
    box-shadow: none;
    .title{
      width:($node-width - ($header-padding*2) - $icon-width - 5);
      display: inline-block;
      a{
        font-size: $title-font-size;
        color:$title-color;
        text-decoration: none;
        &:hover{
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
    .icon{
      width:50px;
      height:50px;
      display: inline-block;
      font-size: $icon-font-size;
      padding:3px 0px;
      text-align: center;
      border-radius:3px;
      color:$icon-font-color;
      .icon-default{
        content: "\f0e5"
      }
    }
  }

  .body{
    background: $body-bg;
    color:$body-color;

    .ports{
      padding: 8px 0;
      height: auto;
      overflow-y: auto;
      overflow-x: hidden;
      .port{
        position: relative;
        width:auto;
        height:auto;
        padding:0 8px;
        .port{
          position: absolute;
          top:0;
          width:20px;
          height:20px;
          background: transparent !important;
        }
        .label{
          margin:0 5px;
        }
        &.in-port{
          float:left;
          .port{
            left:-10px;
          }
        }
        &.out-port{
          float:right;
          .port{
            right:-10px;
          }
        }
      }


    }

  }
}
